@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
}

/* SECTION 1: HERO */

.hero {
    box-sizing: border-box;
    height: 600px;
    padding: 20px 180px 140px 180px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.links {
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.hero-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up {
    margin-top: 8px;
    color: #F9FAF8;
    font-size: 18px;
    background-color: #3882F6;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
}

/* SECTION 2: INFO */

.info {
    box-sizing: border-box;
    height: 600px;
    padding: 20px 180px 140px 180px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info-content {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.info-instance {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.instance-img {
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.instance-text {
    max-width: 208px;
    text-align: center;
}

.quote {
    box-sizing: border-box;
    height: 600px;
    padding: 0 180px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    text-align: right;
    color: #1F2937;
    font-size: 18px;
    font-weight: 800;
}