@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
}

.hero {
    padding: 0 180px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.links {
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.content {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.hero-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up {
    margin-top: 8px;
    color: #F9FAF8;
    font-size: 18px;
    background-color: #3882F6;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
}

